## Assessing the quality of the alignments

This notebook looks at the quality of the alignments between the OCR text and the human-corrected text from the Trove dataset that takes place in the `aligning_trove.ipynb` notebook. It checks the ratio of characters that have been aligned in contrast with the total number of characters, and produces a CSV file for quick evaluation of the alignment of a sample of 50 articles.

In [1]:
import pandas as pd
import ast

In [2]:
trove_df = pd.read_pickle("trove_artidigh_aligned_human.pkl")

In [3]:
trove_df.head()

,filePath,articleId,articleType,year,ocrText,humanText,corrected,str_similarity,str_length,alignment,processed
1,./trove_overproof/datasets/dataset1/rawTextAnd...,18378453,Article ILLUSTRATED,1953,"FROM RIVER CROSSING TO END OF TRIÄÜ I ^PI A^H""...",FROM RIVER CROSSING TO END OF TRIAL SPLASH: Pe...,,0.847747,747,"[(0, 4, 0, 4), (5, 10, 5, 10), (11, 19, 11, 19...",yes
2,./trove_overproof/datasets/dataset1/rawTextAnd...,18363627,Article,1953,"Natural Childbirth Sir,-We nurses have seen fa...","Natural Childbirth Sir,-We nurses have seen fa...",,0.964174,642,"[(0, 7, 0, 7), (8, 18, 8, 18), (19, 26, 19, 26...",yes
5,./trove_overproof/datasets/dataset1/rawTextAnd...,18368961,Article,1953,"DIVORCE Before The Judge In Divorce, Mr Justic...","DIVORCE Before The Judge In Divorce, Mr. Justi...",,0.894262,1220,"[(0, 7, 0, 7), (8, 14, 8, 14), (19, 24, 19, 24...",yes
7,./trove_overproof/datasets/dataset1/rawTextAnd...,18381450,Article,1953,I SCHOOL CHESS * Homebush Increased Ils lead o...,SCHOOL CHESS Homebush increased its lead over...,,0.918347,992,"[(2, 8, 0, 6), (9, 14, 7, 12), (17, 25, 14, 22...",yes
8,./trove_overproof/datasets/dataset1/rawTextAnd...,18383206,Article,1953,Architects' Contracts Architects have signed t...,Architects' Contracts Architects have signed t...,,0.897167,953,"[(0, 11, 0, 11), (12, 21, 12, 21), (22, 32, 22...",yes

In [4]:
sample_df = trove_df.sample(50)

In [5]:
sample_df

,filePath,articleId,articleType,year,ocrText,humanText,corrected,str_similarity,str_length,alignment,processed
19839,./trove_overproof/datasets/dataset1/rawTextAnd...,14255823,Article,1899,I JOHNSTONE^ BAY SAILING CL01). |¡ The weekly ...,JOHNSTONE'S BAY SAILING CLUB. The weekly meeti...,,0.893057,1244,"[(2, 12, 0, 11), (17, 24, 16, 23), (39, 45, 34...",yes
5070,./trove_overproof/datasets/dataset1/rawTextAnd...,15842582,Article,1919,I ATHLETIC^ f ' CnOSSOOUNTRY CHAMPIONSHIP. WON...,ATHLETICS CROSS COUNTRY CHAMPIONSHIP. WON BY R...,,0.892623,4859,"[(2, 11, 0, 9), (16, 28, 16, 23), (29, 42, 24,...",yes
2448,./trove_overproof/datasets/dataset1/rawTextAnd...,13657408,Article,1887,I LABOUR MATTERS. * I Sinco the publication of...,LABOUR MATTERS. Since the publication of our l...,,0.907478,785,"[(2, 8, 0, 6), (9, 17, 7, 15), (22, 27, 16, 21...",yes
18366,./trove_overproof/datasets/dataset1/rawTextAnd...,17439016,Article,1938,> DIÑO BORGIOLI. I New italian Songs. Besides ...,DINO BORGIOLI. New italian Songs. Besides a lo...,,0.917374,1735,"[(2, 6, 0, 4), (7, 16, 5, 14), (23, 30, 19, 26...",yes
6375,./trove_overproof/datasets/dataset1/rawTextAnd...,28369417,Article,1884,"A meeting of tte New South ""Wales Cricket Asso...",CRICKET. --- A meeting of the New South Wales ...,,0.882084,1094,"[(2, 9, 15, 22), (21, 26, 34, 39), (34, 41, 46...",yes
25164,./trove_overproof/datasets/dataset1/rawTextAnd...,14469875,Article,1902,"TILE CAMBRIDGE (ORTHIC) SHORTHAND SOCIETY. , T...",THE CAMBRIDGE (ORTHIC) SHORTHAND SOCIETY. The ...,,0.708847,864,"[(5, 14, 4, 13), (15, 23, 14, 22), (24, 33, 23...",yes
9831,./trove_overproof/datasets/dataset1/rawTextAnd...,13966169,Article,1894,"TEMORA, REEFTON, AND BARMEDMAN DISTRICT«. Tho ...","TEMORA, REEFTON, AND BARMEDMAN DISTRICTS. Tho ...",,0.893821,4483,"[(0, 7, 0, 7), (8, 16, 8, 16), (21, 30, 21, 30...",yes
27102,./trove_overproof/datasets/dataset1/rawTextAnd...,13046646,Article,1860,"LAW. SUPREME COURT -WHnsKSDAr. i "" Is Eanrrr. ...",LAW. SUPREME COURT -WEDNESDAY. IN EQUITY. BEFO...,,0.880203,972,"[(0, 4, 0, 4), (5, 12, 5, 12), (13, 18, 13, 18...",yes
17351,./trove_overproof/datasets/dataset1/rawTextAnd...,14654860,Article,1904,GORDON BENNETT NEWS. In Hamburg and tne neighb...,GORDON BENNETT NEWS. In Hamburg and the neighb...,,0.857143,935,"[(0, 6, 0, 6), (7, 14, 7, 14), (15, 20, 15, 20...",yes
27905,./trove_overproof/datasets/dataset1/rawTextAnd...,14369575,Article,1901,"SALES OF WORK. - » A. bazaar and ial<, of -wor...",SALES OF WORK. - ---- A. bazaar and sale of -w...,,0.752273,2640,"[(0, 5, 0, 5), (9, 14, 9, 14), (22, 28, 25, 31...",yes
13407,./trove_overproof/datasets/dataset1/rawTextAnd...,13164472,Article,1868,"OU AR AN! INE STATION. , -» To the Editor of t...",QUARANTINE STATION. - To the Editor of the Her...,,0.932558,848,"[(14, 22, 11, 19), (35, 41, 29, 35), (49, 56, ...",yes
22907,./trove_overproof/datasets/dataset1/rawTextAnd...,15706270,Article,1917,TO-DAY. ? IllocriillliiL' MccllnRt Hurstville ...,TO-DAY. Recruiting Meetings: Hurstville Town H...,,0.522803,899,"[(0, 7, 0, 7), (35, 45, 29, 39), (51, 55, 45, ...",yes
21489,./trove_overproof/datasets/dataset1/rawTextAnd...,15399675,Article,1913,"""DON'T FEDEBATE."" I QUEENSLANDER^ ADVICE TO TH...","""DON'T FEDERATE."" QUEENSLANDER'S ADVICE TO TH...",,0.775980,1174,"[(0, 6, 0, 6), (20, 33, 19, 33), (34, 40, 34, ...",yes
17894,./trove_overproof/datasets/dataset1/rawTextAnd...,15157231,Article,1910,CAPTAIN COOK'S STATUE. j TO THE EDITOR OF THE ...,CAPTAIN COOK'S STATUE. TO THE EDITOR OF THE HE...,,0.912413,1692,"[(0, 7, 0, 7), (15, 22, 15, 22), (32, 38, 30, ...",yes
11278,./trove_overproof/datasets/dataset1/rawTextAnd...,15098049,Article,1909,BROOKVALE TBAVWAT. A Eperial meetfnp of the Qu...,BROOKVALE TRAMWAY. A special meeting of the Qu...,,0.830120,830,"[(0, 9, 0, 9), (21, 28, 21, 28), (29, 36, 29, ...",yes
18519,./trove_overproof/datasets/dataset1/rawTextAnd...,17467393,Article,1938,OLD SYDNEY. Nonagenarian's Reminiscences. Mr A...,OLD SYDNEY. Nonagenarian's Reminiscences. Mr. ...,,0.830559,1682,"[(4, 11, 4, 11), (12, 26, 12, 26), (27, 41, 27...",yes
9721,./trove_overproof/datasets/dataset1/rawTextAnd...,13972950,Article,1894,BOWLS. NEWTOWN BOWLIKQ CLUB ANNUAL MEETC-O. _ ...,BOWLS. NEWTOWN BOWLING CLUB ANNUAL MEETING. _ ...,,0.906524,3081,"[(0, 6, 0, 6), (7, 14, 7, 14), (23, 27, 23, 27...",yes
13547,./trove_overproof/datasets/dataset1/rawTextAnd...,12961286,Article,1854,AVATER POLICE COURT. MoMJVY. Bil oui the Watei...,WATER POLICE COURT. MONDAY. BEFORE the Water P...,,0.871719,2019,"[(0, 6, 0, 5), (7, 13, 6, 12), (14, 20, 13, 19...",yes
4571,./trove_overproof/datasets/dataset1/rawTextAnd...,28066792,Article,1925,CHAOTIC CHINA. DISORDER AND MISERY. ANTI-FOREI...,CHAOTIC CHINA. DISORDER AND MISERY. ANTI-FOREI...,,0.912444,5585,"[(0, 7, 0, 7), (15, 23, 15, 23), (28, 35, 28, ...",yes
22689,./trove_overproof/datasets/dataset1/rawTextAnd...,14538743,Article,1903,IN DIVOfiCE. (Before Mr. Justice Walker.) GTJA...,IN DIVORCE. (Before Mr. Justice Walker.) GUAZZ...,,0.874598,1555,"[(3, 12, 3, 11), (13, 20, 12, 19), (25, 32, 24...",yes
10149,./trove_overproof/datasets/dataset1/rawTextAnd...,17303152,Article,1937,VICTORIAN CHAMPIONSHIPS. MELBOURNE- Silnd-ir T...,VICTORIAN CHAMPIONSHIPS. MELBOURNE- Sunday The...,,0.928125,954,"[(0, 9, 0, 9), (10, 24, 10, 24), (25, 35, 25, ...",yes
20497,./trove_overproof/datasets/dataset1/rawTextAnd...,14138371,Article,1898,THE BRIEF STORY OF THE WRECK. I At 26 Prosper-...,THE BRIEF STORY OF THE WRECK. At 26 Prosper-st...,,0.928142,3994,"[(4, 9, 4, 9), (23, 29, 23, 29), (38, 53, 36, ...",yes
29232,./trove_overproof/datasets/dataset1/rawTextAnd...,14403071,Article,1901,MILITARY ALLOWANCES. ADELAIDE. Monday. fair Jo...,"MILITARY ALLOWANCES. ADELAIDE, Monday. Sir Joh...",,0.807520,1098,"[(0, 8, 0, 8), (9, 20, 9, 20), (31, 38, 31, 38...",yes
25161,./trove_overproof/datasets/dataset1/rawTextAnd...,14468716,Article,1902,BALMAIN CHURCHES. Special aorvicos of interces...,BALMAIN CHURCHES. Special services of interces...,,0.792049,981,"[(0, 7, 0, 7), (8, 17, 8, 17), (18, 25, 18, 25...",yes
29920,./trove_overproof/datasets/dataset1/rawTextAnd...,15614246,Article,1915,"LATE GENERAL BRIDGES' WI¿ -,..--.?4-. . A ro-s...",LATE GENERAL BRIDGES' WILL A re-seal has been...,,0.872685,836,"[(0, 4, 0, 4), (5, 12, 5, 12), (13, 21, 13, 21...",yes
21061,./trove_overproof/datasets/dataset1/rawTextAnd...,13315466,Article,1873,WATER POLICE COURT. '.I ' .' Saturday. / I Bei...,WATER POLICE COURT. SATURDAY. BEFORE the Water...,,0.933480,1337,"[(0, 5, 0, 5), (6, 12, 6, 12), (29, 38, 20, 29...",yes
16140,./trove_overproof/datasets/dataset1/rawTextAnd...,14693502,Article,1905,MELBOURNE DIVORCE CASE. STRONG COMMENTS BY A J...,MELBOURNE DIVORCE CASE. STRONG COMMENTS BY A J...,,0.915229,2725,"[(0, 9, 0, 9), (10, 17, 10, 17), (18, 23, 18, ...",yes
23070,./trove_overproof/datasets/dataset1/rawTextAnd...,13398792,Article,1877,In Euiitv. Beforo hrs Honor Jil Justrto II nia...,IN EQUITY. Before his Honor Mr. Justice Hargra...,,0.754386,1596,"[(3, 10, 3, 10), (11, 17, 11, 17), (22, 27, 22...",yes
13421,./trove_overproof/datasets/dataset1/rawTextAnd...,28422564,Article,1868,LA.W. i MAITLAND cfllCUIT COTJKT. fFrom tit« M...,LAW. MAITLAND CIRCUIT COURT. (From the Maitlan...,,0.949773,4380,"[(0, 5, 0, 4), (8, 16, 5, 13), (34, 39, 29, 34...",yes
11986,./trove_overproof/datasets/dataset1/rawTextAnd...,13505620,Article,1882,"TO THE EDITOR OF THE HERALD. Sir,-At a match p...","TO THE EDITOR OF THE HERALD. Sir, -At a match ...",,0.802910,735,"[(7, 13, 7, 13), (21, 28, 21, 28), (39, 44, 40...",yes
15204,./trove_overproof/datasets/dataset1/rawTextAnd...,17620476,Article,1939,PATRIOTIC FUNDS. TO THE EDITOR OF THE HERALD. ...,PATRIOTIC FUNDS. TO THE EDITOR OF THE HERALD. ...,,0.900552,1086,"[(0, 9, 0, 9), (10, 16, 10, 16), (24, 30, 24, ...",yes
9685,./trove_overproof/datasets/dataset1/rawTextAnd...,13957795,Article,1894,"THE RICHMOND POISONING CASE. MELBOURNE, SUNDA»...","THE RICHMOND POISONING CASE. MELBOURNE, SUNDAY...",,0.951600,1281,"[(4, 12, 4, 12), (13, 22, 13, 22), (23, 28, 23...",yes
12229,./trove_overproof/datasets/dataset1/rawTextAnd...,14038084,Article,1896,TUE PJ3A11L DISASTER. THE LIST OP THE MISSING....,THE PEARL DISASTER. THE LIST OF THE MISSING. T...,,0.804979,1197,"[(12, 21, 10, 19), (26, 30, 24, 28), (38, 46, ...",yes
18739,./trove_overproof/datasets/dataset1/rawTextAnd...,14812696,Article,1906,ItUCIIAWTE CLUB. U a general meeting of *-hc n...,RECHABITE CLUB. At a general meeting of the ne...,,0.564024,656,"[(11, 16, 10, 15), (21, 28, 21, 28), (52, 58, ...",yes
13966,./trove_overproof/datasets/dataset1/rawTextAnd...,14988383,Article,1908,"PROPERTY' SALE. Mr J B YYnre Tuniivorth, lina ...","PROPERTY SALE. Mr J B Ware, Tamworth, has 9300...",,0.808181,693,"[(0, 9, 0, 8), (10, 15, 9, 14), (46, 50, 42, 4...",yes
6042,./trove_overproof/datasets/dataset1/rawTextAnd...,13773089,Article,1890,TRADES MOVEMENTS. FORMATION OF OMNIBUS EMPLOYE...,TRADES MOVEMENTS. FORMATION OF OMNIBUS EMPLOYE...,,0.889815,3839,"[(0, 6, 0, 6), (7, 17, 7, 17), (18, 27, 18, 27...",yes
27563,./trove_overproof/datasets/dataset1/rawTextAnd...,13060937,Article,1861,"THE GOVERNMENT AND THE CRICKETERS. I I , To th...",THE GOVERNMENT AND THE CRICKETERS. To the Edit...,,0.947823,5207,"[(4, 14, 4, 14), (23, 34, 23, 34), (48, 53, 42...",yes
25846,./trove_overproof/datasets/dataset1/rawTextAnd...,15522330,Article,1914,"THE LATE MR. AIBERT. Mr. Jacques Albert, forme...","THE LATE MR. ALBERT. Mr. Jacques Albert, forme...",,0.768971,1186,"[(4, 8, 4, 8), (13, 20, 13, 20), (25, 32, 25, ...",yes
16838,./trove_overproof/datasets/dataset1/rawTextAnd...,13219031,Article,1871,"I THE LATE MISS IRONSIDE. I AT NO. 256, Pitt-s...","THE LATE MISS IRONSIDE. AT No. 256, Pitt-stree...",,0.942788,3713,"[(6, 10, 4, 8), (11, 15, 9, 13), (16, 25, 14, ...",yes
30313,./trove_overproof/datasets/dataset2/rawTextAnd...,13040000,Article,1860,"CAMDEN. A correspondent, dating Camden, Monday...","CAMDEN. A correspondent, dating Camden, Monday...","CAMDEN. A correspondent, dating Camden, Monday...",0.995290,637,"[(0, 7, 0, 7), (10, 24, 10, 24), (25, 31, 25, ...",yes
5779,./trove_overproof/datasets/dataset1/rawTextAnd...,12943954,Article,1853,.^'V.^EUKil!Ilst-ArrlïâUi_-FJairc^ir«e-35- M ....,MELBOURNE - Arrivals - February 15. Marian Moo...,,0.847643,5386,"[(52, 58, 43, 49), (59, 64, 50, 54), (134, 140...",yes
8420,./trove_overproof/datasets/dataset1/rawTextAnd...,17246624,Article,1936,"STEPS OF LIFE. Footsteps, lootsteps passing al...","STEPS OF LIFE. Footsteps, footsteps passing al...",,0.826154,650,"[(0, 5, 0, 5), (9, 14, 9, 14), (15, 25, 15, 25...",yes
12807,./trove_overproof/datasets/dataset1/rawTextAnd...,14126772,Article,1897,CO-OPEKATIVE STORES. The sixty-third half-^ «a...,CO-OPEKATIVE STORES. The sixty-third half-year...,,0.869652,1005,"[(0, 12, 0, 12), (13, 20, 13, 20), (25, 36, 25...",yes
3799,./trove_overproof/datasets/dataset1/rawTextAnd...,28359073,Article,1886,aróvyr VICTORIA. Tho visit of Cardinal Moran t...,MOUNT VICTORIA. The visit of Cardinal Moran to...,,0.935323,1791,"[(7, 16, 6, 15), (21, 26, 20, 25), (30, 38, 29...",yes
5999,./trove_overproof/datasets/dataset1/rawTextAnd...,28272911,Article,1890,TEE DEATH OF AN ABORIGINAL KING. TO THE EDITOR...,TEE DEATH OF AN ABORIGINAL KING. TO THE EDITOR...,,0.907919,2147,"[(4, 9, 4, 9), (16, 26, 16, 26), (27, 32, 27, ...",yes
21314,./trove_overproof/datasets/dataset1/rawTextAnd...,15450010,Article,1913,/.' ' BILLIARDS. f. NEW ßOTJTII WALES AMATEUR ...,BILLIARDS. NEW SOUTH WALES AMATEUR HONOURED.. ...,,0.920567,673,"[(6, 16, 0, 10), (32, 37, 21, 26), (38, 45, 27...",yes
7645,./trove_overproof/datasets/dataset1/rawTextAnd...,16326240,Article,1926,"TIMBER wonicnns' AWARD '.At th. r.r""r,"""" D"",.-...","TIMBER WORKERS' AWARD GRAFTON, Tuesday. At the...",,0.859981,1028,"[(0, 6, 0, 6), (17, 22, 16, 21), (99, 104, 69,...",yes
8209,./trove_overproof/datasets/dataset1/rawTextAnd...,16007289,Article,1922,"COTJNTEY NEWS. QUARTER SESSIONS. MOREE, Monda?...","COUNTRY NEWS. QUARTER SESSIONS. MOREE, Monday ...",,0.908275,3009,"[(9, 14, 8, 13), (15, 22, 14, 21), (23, 32, 22...",yes
1191,./trove_overproof/datasets/dataset1/rawTextAnd...,17789374,Article,1942,ACCUSED FATNTS AT TRIAL Murder Charges I GRAFT...,ACCUSED FAINTS AT TRIAL Murder Charges GRAFTON...,,0.844098,1255,"[(0, 7, 0, 7), (8, 14, 8, 14), (18, 23, 18, 23...",yes
6181,./trove_overproof/datasets/dataset1/rawTextAnd...,28368856,Article,1884,CHAUVE OF FAILING TO REFOUT A. VASE OF SMALUPO...,CHARGE OF FAILING TO REPORT A CASE OF SMALLPOX...,,0.893197,1350,"[(10, 17, 10, 17), (31, 35, 30, 34), (39, 48, ...",yes

### Compare the amount of text that has been aligned vs uncertain

Number of characters that have been aligned vs characters whose alignment has been left as uncertain. Measure is given for each quality band.

In [6]:
trove_df['alignedchars_ocr'] = 0
trove_df['alignedchars_hum'] = 0
trove_df['uncertainchars_ocr'] = 0
trove_df['uncertainchars_hum'] = 0

trove_df = trove_df[(abs(trove_df['ocrText'].str.len() - trove_df['humanText'].str.len()) <= 100)]

for index, row in trove_df.iterrows():
    aligned_chars_ocr = 0
    aligned_chars_hum = 0
    uncertain_chars_ocr = 0
    uncertain_chars_hum = 0
    ocrText = row['ocrText']
    humanText = row['humanText']
    alignment = ast.literal_eval(row['alignment'])
    ocr_index = 0
    hum_index = 0
    alignment.sort(key=lambda tup: tup[0])
    for a in alignment:
        if a[0] != 0 and a[2] != 0:
            uncertain_chars_ocr += len(ocrText[ocr_index : a[0] - 1].strip())
            uncertain_chars_hum += len(humanText[hum_index : a[2] - 1].strip())
            aligned_chars_ocr += len(ocrText[a[0] : a[1]].strip())
            aligned_chars_hum += len(humanText[a[2] : a[3]].strip())
        ocr_index = a[1] + 1
        hum_index = a[3] + 1
    trove_df.loc[index, 'alignedchars_ocr'] = aligned_chars_ocr
    trove_df.loc[index, 'alignedchars_hum'] = aligned_chars_hum
    trove_df.loc[index, 'uncertainchars_ocr'] = uncertain_chars_ocr
    trove_df.loc[index, 'uncertainchars_hum'] = uncertain_chars_hum

In [9]:
def quality(similarity):
    if similarity > 0.9:
        return 1 # good
    elif similarity > 0.8:
        return 2 # soso
    elif similarity > 0.7:
        return 3 # bad
    return 4 # ugly

trove_df['quality_band'] = trove_df["str_similarity"].apply(quality)
trove_df.head()

,filePath,articleId,articleType,year,ocrText,humanText,corrected,str_similarity,str_length,alignment,processed,alignedchars_ocr,alignedchars_hum,uncertainchars_ocr,uncertainchars_hum,quality_band
1,./trove_overproof/datasets/dataset1/rawTextAnd...,18378453,Article ILLUSTRATED,1953,"FROM RIVER CROSSING TO END OF TRIÄÜ I ^PI A^H""...",FROM RIVER CROSSING TO END OF TRIAL SPLASH: Pe...,,0.847747,747,"[(0, 4, 0, 4), (5, 10, 5, 10), (11, 19, 11, 19...",yes,387,385,338,268,2
2,./trove_overproof/datasets/dataset1/rawTextAnd...,18363627,Article,1953,"Natural Childbirth Sir,-We nurses have seen fa...","Natural Childbirth Sir,-We nurses have seen fa...",,0.964174,642,"[(0, 7, 0, 7), (8, 18, 8, 18), (19, 26, 19, 26...",yes,419,414,115,129,1
5,./trove_overproof/datasets/dataset1/rawTextAnd...,18368961,Article,1953,"DIVORCE Before The Judge In Divorce, Mr Justic...","DIVORCE Before The Judge In Divorce, Mr. Justi...",,0.894262,1220,"[(0, 7, 0, 7), (8, 14, 8, 14), (19, 24, 19, 24...",yes,478,508,474,530,2
7,./trove_overproof/datasets/dataset1/rawTextAnd...,18381450,Article,1953,I SCHOOL CHESS * Homebush Increased Ils lead o...,SCHOOL CHESS Homebush increased its lead over...,,0.918347,992,"[(2, 8, 0, 6), (9, 14, 7, 12), (17, 25, 14, 22...",yes,586,605,210,230,1
8,./trove_overproof/datasets/dataset1/rawTextAnd...,18383206,Article,1953,Architects' Contracts Architects have signed t...,Architects' Contracts Architects have signed t...,,0.897167,953,"[(0, 11, 0, 11), (12, 21, 12, 21), (22, 32, 22...",yes,506,518,273,299,2

In [14]:
sampledf_band1 = trove_df[trove_df['quality_band'] == 1]
sampledf_band2 = trove_df[trove_df['quality_band'] == 2]
sampledf_band3 = trove_df[trove_df['quality_band'] == 3]
sampledf_band4 = trove_df[trove_df['quality_band'] == 4]

dfbands = [sampledf_band1, sampledf_band2, sampledf_band3, sampledf_band4]

for band in reversed(range(len(dfbands))):
    ahum = dfbands[band]['alignedchars_hum'].sum(axis=0)
    aocr = dfbands[band]['alignedchars_ocr'].sum(axis=0)
    uhum = dfbands[band]['uncertainchars_ocr'].sum(axis=0)
    uocr = dfbands[band]['uncertainchars_hum'].sum(axis=0)
    
    print("Band:", band, ahum / (ahum + uhum))

Band: 3 0.2878159676988064
Band: 2 0.4288786937251221
Band: 1 0.5554745451432586
Band: 0 0.6363623896364651

### Create csv with aligned text of articles in the sample

Format (uncertain text is surrounded by `(((` and `)))` to ease seeing them when annotating):
```
articleId  str_similarity   aligned         ocrText              humanText         ocrOffset humOffset
14473800	0.7610062893	UNCERTAIN       (((THE               THE)))            0         3
14473800	0.7610062893	ALIGNED         NEXT                 NEXT              4         8
14473800	0.7610062893	ALIGNED         MATCH.               MATCH.            9         15
14473800	0.7610062893	UNCERTAIN       (((Tho               The)))            16        19
14473800	0.7610062893	ALIGNED         third                third             20        25
14473800	0.7610062893	ALIGNED         test                 test              26        30
14473800	0.7610062893	ALIGNED         match                match             31        36
14473800	0.7610062893	UNCERTAIN       (((of tho            of the)))         37        43
14473800	0.7610062893	ALIGNED         tour                 tour              44        48
14473800	0.7610062893	UNCERTAIN       (((v                 >)))              49        51	
14473800	0.7610062893	ALIGNED         ill                  will              49        53
14473800	0.7610062893	ALIGNED         commence             commence          54        62
14473800	0.7610062893	UNCERTAIN       (((to du} at         to-day at)))      65        74
14473800	0.7610062893	ALIGNED         Sheffield,           Sheffield,        73        83
14473800	0.7610062893	UNCERTAIN       (((and lull bo tho   and will be the)))86        101
14473800	0.7610062893	ALIGNED         first                first             100       105
14473800	0.7610062893	ALIGNED         occasion             occasion          106       114
```

Output is here: https://docs.google.com/spreadsheets/d/1HugVFVYPjtz9rBPNfJwsmL9WXVDCUVw_IuFiCYSHR88/edit#gid=753828840

In [7]:
import csv

dAlignmentsToEvaluate = dict()
for index, row in sample_df.iterrows():
    newArticle = []
    ocrText = row['ocrText']
    humanText = row['humanText']
    alignment = ast.literal_eval(row['alignment'])
    ocr_index = 0
    hum_index = 0
    alignment.sort(key=lambda tup: tup[0])
    for a in alignment:
        if a[0] != 0 and a[2] != 0:
            uncertain_match = ocrText[ocr_index : a[0] - 1].strip() + "\t" + humanText[hum_index : a[2] - 1].strip()
            uncertain_match = uncertain_match.strip()
            if uncertain_match:
                uncertain = str(row['articleId']) + "\t" + str(row['str_similarity']) + "\tUNCERTAIN\t" + "(((" + uncertain_match + ")))\t" + str(ocr_index) + "\t " + str(a[0] - 1)
                newArticle.append(uncertain)
        aligned_match = ocrText[a[0] : a[1]].strip() + "\t" + humanText[a[2] : a[3]].strip()
        aligned = str(row['articleId']) + "\t" + str(row['str_similarity']) + "\t" + "ALIGNED\t" + aligned_match + "\t" + str(a[2]) + "\t " + str(a[3])
        newArticle.append(aligned)
        ocr_index = a[1] + 1
        hum_index = a[3] + 1

    dAlignmentsToEvaluate[(row['articleId'], row['str_similarity'])] = newArticle

with open("alignments.csv", "w") as csvfile:
    writer = csv.writer(csvfile, delimiter='\t')
    for article in dAlignmentsToEvaluate:
        for textsnippet in dAlignmentsToEvaluate[article]:
            textsnippet = textsnippet.split("\t")
            writer.writerow(textsnippet)

Assessment of the quality of the evaluation here: https://docs.google.com/spreadsheets/d/1HugVFVYPjtz9rBPNfJwsmL9WXVDCUVw_IuFiCYSHR88/edit#gid=753828840